body * {
	box-sizing: border-box;
}

body {
	font-family: monospace;
	width: fit-content;
	margin: auto;

	--header-height: 3.5rem;
	--board-size: 500px;
	--player-color: #307518;
	--canvas-border-width: 10px;
	--canvas-padding: 2px;
}

.ui-root {
	position: absolute;
	--total-board-size: calc(
		var(--board-size) + var(--canvas-border-width) * 2 + var(--canvas-padding) *
			2
	);
	width: var(--total-board-size);
	height: calc(var(--total-board-size) + var(--header-height));
	display: flex;
	flex-direction: column;
}

.ui-header {
	height: var(--header-height);
	padding: 1rem 0;
}

.ui-header > p {
	margin: 0;
	text-align: right;
	font-weight: bolder;
	font-size: 1.5rem;
	line-height: 1.5rem;
}

.game-state {
	font-weight: bolder;
	font-size: 1.5rem;
	width: 100%;
	height: var(--total-board-size);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.game-state button {
	font-size: 1.1rem;
	font-family: monospace;
	cursor: pointer;
	background: black;
	color: white;
	padding: 0.5rem 1rem;
}

canvas {
	margin-top: var(--header-height);
	border: var(--canvas-border-width) solid black;
	padding: var(--canvas-padding);
	background: rgb(175, 245, 140);
}
